/* ITD 210 Car Project: Murphy Auto Car Dealership
Authors: Team 1 (Zach Heineman,Tiana Mangual,Andrew Wells).
File name: ma_styles.css */




/** BODY STYLES **/

body {

  background:white;
  color:black;
}

/** Header will contain the logo and the nav dropdown with an orange background and white text. **/

header .navbar{
  background:#FF893C;
  color:black;
}

header .tagline{
  line-height: 83px;
  padding-left: 10px;
  font-size: 32px;
}

h1 {
  text-align: center;
}

/** Footer will contain contact info, with a green background and white text. **/
footer{
  background:#0f9c62;
  color:white;
}

footer address a  {
  color:#FF893C;
  
}

footer address a:hover {
  color:yellow;
}

/** FONTS **/

/*Car Statistics styles*/

.model-stats tr td:first-of-type{
  text-transform: uppercase;
  text-align: right; 
  font-weight: bold;
  
}

.model-stats tr td {
  width: 50%;
}
