/* ITD 210 Car Project: Murphy Auto Car Dealership
Authors: Team 1 (Zach Heineman,Tiana Mangual,Andrew Wells).
File name: ma_styles.css */




/** Body Styles **/

body {

  background:white;
  color:black;
  font-family: 'Allerta Stencil', sans-serif;
}

/** Header will contain the logo and the nav dropdown with an orange background and white text. **/

header .navbar {
  background:#FF893C;
  color:black;
}

header .tagline {
  font-family: 'Allerta Stencil', sans-serif;
  line-height: 83px;
  padding-left: 10px;
  font-size: 18px;
}

h1 {
  text-align: center;
}


/** Footer will contain contact info, with a green background and white text. **/
footer {
  background:#0f9c62;
  color:white;
  text-align: center;
}

footer address a  {
  color:#FF893C;

}

footer address a:hover {
  color:yellow;
}

/** Inventory Page Styles **/

.tableCaptions {
  font-weight: bold;
  text-align: center;

}




/* Inventory Button */

.invButton {
    position: relative;
    text-align: center;


}

div.headlineIndex{
    text-align: center;
    padding-top: 10px;
}


/* Carousel*/

.carousel {

    max-height: 635px;

}

div.c-wrapper{
    width: 65%;
    background: linear-gradient(0deg, white, white 40%, darkorange);
    margin: auto;

}

div.c-wrapper2{
    width: 65%;
    background: linear-gradient(0deg, white, white 40%, darkorange);
    margin: auto;

}

div.c-wrapper3{
    width: 65%;
    background: linear-gradient(0deg, white, white 40%, darkorange);
    margin: auto;

}

div.c-wrapper4{
    width: 65%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;



}

.carousel-indicators li {
    display: inline-block;
    width: 48px;
    height: 5px;
    margin: 5px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    background-color: darkorange;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}
.carousel-indicators .active {
    width: 48px;
    height: 5px;
    margin: 5px;
    background-color: green;
}








/** Font Styles  **/
font-family: 'Allerta Stencil', sans-serif;
font-family: 'NTR', sans-serif;
font-family: 'Wire One', sans-serif;
font-family: 'Chau Philomene One', sans-serif;
font-family: 'Gidugu', sans-serif;



/*Car Statistics styles*/

.model-stats tr td:first-of-type{
  text-transform: uppercase;
  text-align: right;
  font-weight: bold;

}

.model-stats tr td {
  width: 50%;
}
