/* ITD 210 Car Project: Murphy Auto Car Dealership
Authors: Team 1 (Zach Heineman,Tiana Mangual,Andrew Wells).
File name: ma_styles.css */




/** BODY STYLES **/

body {

  background:white;
  color:white;
}

/** Header will contain the logo and the nav dropdown with an orange background and white text. **/

header{

    background:#FF893C;
    color:black;
  }

/** Footer will contain contact info, with a green background and white text. **/
footer{
  background:#0f9c62;
  color:white;
}



/** FONTS **/
